---
component: navbar
---

<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
      <a class="navbar-brand" href="{{relative page.dest "dist/index.html"}}">{{site.title}}</a>
    </div>
  </div>
</div>
