---
component: navbar
---
<footer class="footer">
  <cite>Begotten with love by <a href="https://twitter.com/pixel_whip">John</a> &amp; <a href="https://twitter.com/poorogies">Melissa</a> Ferris</cite>
</footer>
