/* line 19, ../../../src/styles/base/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

/* line 29, ../../../src/styles/base/_normalize.scss */
audio,
canvas,
video {
  display: inline-block;
}

/* line 42, ../../../src/styles/base/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/* line 52, ../../../src/styles/base/_normalize.scss */
[hidden] {
  display: none;
}

/* line 75, ../../../src/styles/base/_normalize.scss */
html,
input,
select,
textarea {
  font-family: "adobe-caslon-pro", "adobe-caslon-pro", Georgia, serif;
}

/* line 83, ../../../src/styles/base/_normalize.scss */
body {
  margin: 0;
  padding: 0;
}

/* line 97, ../../../src/styles/base/_normalize.scss */
a:focus {
  outline: thin dotted;
}

/* line 107, ../../../src/styles/base/_normalize.scss */
a:hover,
a:active {
  outline: 0;
}

/* line 121, ../../../src/styles/base/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 130, ../../../src/styles/base/_normalize.scss */
b,
strong {
  font-weight: bold;
}

/* line 134, ../../../src/styles/base/_normalize.scss */
blockquote {
  margin: 0.375em 3em;
}

/* line 143, ../../../src/styles/base/_normalize.scss */
dfn {
  font-style: italic;
}

/* line 151, ../../../src/styles/base/_normalize.scss */
mark {
  background: #ff0;
  color: #000;
}

/* line 161, ../../../src/styles/base/_normalize.scss */
p,
pre {
  margin: 0.375em 0;
}

/* line 174, ../../../src/styles/base/_normalize.scss */
pre,
code,
kbd,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
  line-height: 1.5em;
}

/* line 186, ../../../src/styles/base/_normalize.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* line 199, ../../../src/styles/base/_normalize.scss */
q {
  quotes: none;
}

/* line 206, ../../../src/styles/base/_normalize.scss */
q:before,
q:after {
  content: '';
  content: none;
}

/* line 211, ../../../src/styles/base/_normalize.scss */
small {
  font-size: 75%;
}

/* line 221, ../../../src/styles/base/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 228, ../../../src/styles/base/_normalize.scss */
sup {
  top: -0.5em;
}

/* line 232, ../../../src/styles/base/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* line 248, ../../../src/styles/base/_normalize.scss */
dl,
menu,
ol,
ul {
  margin: 0.375em 0;
}

/* line 253, ../../../src/styles/base/_normalize.scss */
dd {
  margin: 0 0 0 3em;
}

/* line 263, ../../../src/styles/base/_normalize.scss */
menu,
ol,
ul {
  padding: 0 0 0 3em;
}

/* line 272, ../../../src/styles/base/_normalize.scss */
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}

/* line 288, ../../../src/styles/base/_normalize.scss */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

/* line 297, ../../../src/styles/base/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* line 310, ../../../src/styles/base/_normalize.scss */
figure {
  margin: 0;
}

/* line 323, ../../../src/styles/base/_normalize.scss */
form {
  margin: 0;
}

/* line 331, ../../../src/styles/base/_normalize.scss */
fieldset {
  border-color: #dadbdc;
  margin: 0.75em 0;
  border-top-style: solid;
  border-top-width: 0.0625em;
  padding-top: 0.6875em;
  border-bottom-style: solid;
  border-bottom-width: 0.0625em;
  padding-bottom: 0.6875em;
  border-left-style: solid;
  border-left-width: 0.0625em;
  padding-left: 0.6875em;
  border-right-style: solid;
  border-right-width: 0.0625em;
  padding-right: 0.6875em;
}

/* line 347, ../../../src/styles/base/_normalize.scss */
legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

/* line 365, ../../../src/styles/base/_normalize.scss */
button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  vertical-align: middle;
}

/* line 379, ../../../src/styles/base/_normalize.scss */
button,
input {
  line-height: normal;
}

/* line 393, ../../../src/styles/base/_normalize.scss */
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  overflow: visible;
}

/* line 406, ../../../src/styles/base/_normalize.scss */
button[disabled],
input[disabled] {
  cursor: default;
}

/* line 418, ../../../src/styles/base/_normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}

/* line 432, ../../../src/styles/base/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 442, ../../../src/styles/base/_normalize.scss */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

/* line 452, ../../../src/styles/base/_normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 462, ../../../src/styles/base/_normalize.scss */
textarea {
  overflow: auto;
  vertical-align: top;
}

/* line 476, ../../../src/styles/base/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 11, ../../../src/styles/base/_elements.scss */
* html {
  font-size: 100%;
}

/* line 15, ../../../src/styles/base/_elements.scss */
html {
  font-size: 16px;
  line-height: 1.5em;
  height: 100%;
}

/* line 22, ../../../src/styles/base/_elements.scss */
body {
  color: #282d27;
  height: 100%;
}

/* line 44, ../../../src/styles/base/_elements.scss */
article,
div,
section,
header,
footer,
aside,
figure,
figcaption,
li,
ul,
ol,
h1,
h2,
h3,
h4,
h5,
h6 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  *box-sizing: content-box;
  *behavior: url("/sites/all/themes/prototype/polyfills/boxsizing.htc");
}

/* line 52, ../../../src/styles/base/_elements.scss */
h1 {
  font-size: 2.25em;
  line-height: 1.16667em;
  margin-top: 0.33333em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 0.33333em;
  font-weight: 600;
}

/* line 58, ../../../src/styles/base/_elements.scss */
h2 {
  font-size: 2.25em;
  line-height: 1.16667em;
  margin-top: 0.33333em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 0.33333em;
  font-weight: 600;
}

/* line 64, ../../../src/styles/base/_elements.scss */
h3 {
  font-size: 1.3125em;
  line-height: 1.42857em;
  margin-top: 0.57143em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 0.57143em;
  font-weight: 600;
}

/* line 70, ../../../src/styles/base/_elements.scss */
h4 {
  font-size: 1em;
  line-height: 1.5em;
  margin-top: 1.5em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 0em;
  font-weight: 600;
}

/* line 76, ../../../src/styles/base/_elements.scss */
h5 {
  font-size: 0.9375em;
  line-height: 1.6em;
  margin-top: 1.6em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 0em;
  font-weight: 800;
}

/* line 82, ../../../src/styles/base/_elements.scss */
h6 {
  font-size: 0.75em;
  line-height: 1.5em;
  margin-top: 2em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 0em;
  letter-spacing: .03em;
  text-transform: uppercase;
  font-weight: 800;
}

/* line 94, ../../../src/styles/base/_elements.scss */
a {
  color: #4aaa42;
  text-decoration: none;
}
/* line 24, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
a:hover {
  color: #3a8534;
}
/* line 4, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_hover-link.scss */
a:hover {
  text-decoration: underline;
}

/* line 103, ../../../src/styles/base/_elements.scss */
p {
  margin: 0 0 1.5em;
}

/* line 107, ../../../src/styles/base/_elements.scss */
blockquote {
  margin: 0.75em 0 0.75em 3em;
  font-style: italic;
}

/* line 116, ../../../src/styles/base/_elements.scss */
img {
  max-width: 100%;
  height: auto;
}

/* line 125, ../../../src/styles/base/_elements.scss */
dl {
  margin-bottom: 1.125em;
}

/* line 129, ../../../src/styles/base/_elements.scss */
dt {
  font-weight: bold;
}

/* line 133, ../../../src/styles/base/_elements.scss */
dd {
  margin-left: 50px;
}

/* line 140, ../../../src/styles/base/_elements.scss */
button:focus,
input:focus,
select:focus,
textarea:focus {
  -webkit-box-shadow: 0 0 5px #999d9b;
  -moz-box-shadow: 0 0 5px #999d9b;
  box-shadow: 0 0 5px #999d9b;
}

/* line 148, ../../../src/styles/base/_elements.scss */
label {
  font-size: 0.75em;
  line-height: 1.5em;
  display: block;
  margin-bottom: 0.5em;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
}
/* line 156, ../../../src/styles/base/_elements.scss */
label.option {
  display: inline;
  font-weight: normal;
}

/**
 * Give form elements some cursor interactions...
 */
/* line 174, ../../../src/styles/base/_elements.scss */
label,
input,
textarea,
button,
select,
option {
  cursor: pointer;
}

/* line 191, ../../../src/styles/base/_elements.scss */
textarea,
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"] {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-style: solid;
  border-width: 0.0625em;
  padding: 0.125em;
  max-width: 100%;
  background-color: white;
  border: 1px solid #dadbdc;
  font-size: 12px;
  padding-left: 6px;
  padding-right: 6px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0 1px 1px 0 inset;
  -moz-box-shadow: rgba(0, 0, 0, 0.25) 0 1px 1px 0 inset;
  box-shadow: rgba(0, 0, 0, 0.25) 0 1px 1px 0 inset;
  color: #282d27;
  font-family: "adobe-caslon-pro", "adobe-caslon-pro", Georgia, serif;
}
/* line 207, ../../../src/styles/base/_elements.scss */
textarea:focus,
input[type="date"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="email"]:focus,
input[type="month"]:focus,
input[type="number"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="text"]:focus,
input[type="time"]:focus,
input[type="url"]:focus,
input[type="week"]:focus {
  border-color: #999d9b;
  outline: none;
  cursor: text;
}

/* line 214, ../../../src/styles/base/_elements.scss */
input[type="file"] {
  font-size: 12px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* line 219, ../../../src/styles/base/_elements.scss */
select {
  font-size: 12px;
  max-width: 100%;
}

/* line 225, ../../../src/styles/base/_elements.scss */
input[type="submit"],
button {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  border: 1px solid;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  padding: 0 25px;
  font-size: 0.75em;
  line-height: 1.5em;
  line-height: 32px;
  height: 32px;
  border-radius: 4px;
  font-weight: 800;
  text-transform: uppercase;
  background-color: #dadbdc;
  border-color: #dadbdc;
  color: #404540;
  -webkit-box-shadow: blend-overlay(rgba(0, 0, 0, 0.25), #999d9b) 0 -1px 0 0 inset;
  -moz-box-shadow: blend-overlay(rgba(0, 0, 0, 0.25), #999d9b) 0 -1px 0 0 inset;
  box-shadow: blend-overlay(rgba(0, 0, 0, 0.25), #999d9b) 0 -1px 0 0 inset;
}
/* line 10, ../../../src/styles/utilities/_button.scss */
input[type="submit"]:hover,
button:hover {
  text-decoration: none;
}
/* line 59, ../../../src/styles/utilities/_button.scss */
input[type="submit"]:hover,
button:hover {
  color: #282d27;
  background-color: blend-overlay(rgba(255, 255, 255, 0.25), #dadbdc);
}
/* line 64, ../../../src/styles/utilities/_button.scss */
input[type="submit"]:active,
button:active {
  color: #282d27;
  -webkit-box-shadow: blend-overlay(rgba(0, 0, 0, 0.25), #999d9b) 0 1px 0 0 inset;
  -moz-box-shadow: blend-overlay(rgba(0, 0, 0, 0.25), #999d9b) 0 1px 0 0 inset;
  box-shadow: blend-overlay(rgba(0, 0, 0, 0.25), #999d9b) 0 1px 0 0 inset;
}

/* line 234, ../../../src/styles/base/_elements.scss */
table {
  max-width: 100%;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 0.75em;
}

/* line 242, ../../../src/styles/base/_elements.scss */
thead {
  text-align: left;
}
/* line 245, ../../../src/styles/base/_elements.scss */
thead th {
  vertical-align: bottom;
}

/* line 251, ../../../src/styles/base/_elements.scss */
th,
td {
  padding: 8px;
  vertical-align: top;
  border-top: 1px solid #b3b3b3;
}

/* line 263, ../../../src/styles/base/_elements.scss */
caption + thead tr:first-child th,
caption + thead tr:first-child td,
colgroup + thead tr:first-child th,
colgroup + thead tr:first-child td,
thead:first-child tr:first-child th,
thead:first-child tr:first-child td {
  border-top: 0;
}

/* line 268, ../../../src/styles/base/_elements.scss */
tbody + tbody {
  border-top: 2px solid #b3b3b3;
}

/* line 272, ../../../src/styles/base/_elements.scss */
tr.odd {
  background-color: #f8f8f8;
}

/* line 273, ../../../src/styles/base/_elements.scss */
tr.even {
  background-color: transparent;
}

/* line 279, ../../../src/styles/base/_elements.scss */
.clearfix {
  *zoom: 1;
}
/* line 22, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}

/* line 283, ../../../src/styles/base/_elements.scss */
.intro {
  font-size: 1.75em;
  line-height: 1.28571em;
}

/* line 6, ../../../src/styles/components/_post.scss */
.post-background {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  background: no-repeat center;
  background-size: cover;
  z-index: -1;
  -webkit-box-shadow: rgba(0, 0, 0, 0.8) 0 0 200px 0 inset, rgba(0, 0, 0, 0.3) 0 0 2000px 2000px inset;
  -moz-box-shadow: rgba(0, 0, 0, 0.8) 0 0 200px 0 inset, rgba(0, 0, 0, 0.3) 0 0 2000px 2000px inset;
  box-shadow: rgba(0, 0, 0, 0.8) 0 0 200px 0 inset, rgba(0, 0, 0, 0.3) 0 0 2000px 2000px inset;
}

/* line 20, ../../../src/styles/components/_post.scss */
.post-header {
  position: relative;
  height: 100%;
  width: 100%;
  color: white;
  text-shadow: rgba(0, 0, 0, 0.8) 0 0 6px, rgba(0, 0, 0, 0.4) 0 4px 18px;
  text-align: center;
}

/* line 34, ../../../src/styles/components/_post.scss */
.post-header-inner {
  position: relative;
  top: 33%;
  padding: 0 2em;
  margin: 0 auto;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px white solid;
  -webkit-box-shadow: rgba(0, 0, 0, 0.6) 0 0 40px 1px inset, rgba(0, 0, 0, 0.6) 0 0 0 2px inset, white 0 0 0 3px inset;
  -moz-box-shadow: rgba(0, 0, 0, 0.6) 0 0 40px 1px inset, rgba(0, 0, 0, 0.6) 0 0 0 2px inset, white 0 0 0 3px inset;
  box-shadow: rgba(0, 0, 0, 0.6) 0 0 40px 1px inset, rgba(0, 0, 0, 0.6) 0 0 0 2px inset, white 0 0 0 3px inset;
}

/* line 50, ../../../src/styles/components/_post.scss */
.post-title {
  font-size: 2.25em;
  line-height: 1.16667em;
  border-bottom-style: solid;
  border-bottom-width: 0.02778em;
  padding-bottom: 0.13889em;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  border-bottom-color: white;
  font-weight: normal;
  margin: 0.5em 0 0.16667em;
}

/* line 59, ../../../src/styles/components/_post.scss */
.post-byline {
  font-weight: normal;
  font-size: 0.9375em;
  line-height: 1.6em;
  text-transform: uppercase;
  letter-spacing: .08em;
}

/* line 66, ../../../src/styles/components/_post.scss */
.post-byline-separator {
  margin: 0 .5em;
}

/* line 70, ../../../src/styles/components/_post.scss */
.post-intro {
  font-size: 1.3125em;
  line-height: 1.42857em;
}

/* line 74, ../../../src/styles/components/_post.scss */
.post-content {
  position: relative;
  background: white;
  border-top: #dadbdc 1px solid;
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0 0 20px;
  -moz-box-shadow: rgba(0, 0, 0, 0.4) 0 0 20px;
  box-shadow: rgba(0, 0, 0, 0.4) 0 0 20px;
}

/* line 81, ../../../src/styles/components/_post.scss */
.post-body {
  margin-top: 100%;
  margin: 0 auto;
  padding: 2em 1em;
}
/* line 86, ../../../src/styles/components/_post.scss */
.post-body > p {
  margin-left: auto;
  margin-right: auto;
  max-width: 33.75em;
}
/* line 92, ../../../src/styles/components/_post.scss */
.post-body .post-intro {
  max-width: 25.71429em;
}

/* line 7, ../../../src/styles/components/_trips.scss */
.trips-list {
  margin: 2.25em auto;
  padding: 1em;
}

/* line 12, ../../../src/styles/components/_trips.scss */
.trips-item {
  border-top: 1px solid #dadbdc;
  padding: 0.75em 0;
  list-style: none;
}
/* line 17, ../../../src/styles/components/_trips.scss */
.trips-item:first-child {
  border: none;
}

/* line 22, ../../../src/styles/components/_trips.scss */
.trips-byline {
  display: block;
  font-size: 0.75em;
  line-height: 1.5em;
}

/* line 7, ../../../src/styles/components/_navbar.scss */
.navbar {
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 0 1em;
}

/* line 16, ../../../src/styles/components/_navbar.scss */
.navbar-brand {
  color: white;
  font-size: 0.75em;
  line-height: 1.5em;
  text-transform: uppercase;
  font-weight: 600;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: .1em;
}

/* line 8, ../../../src/styles/main.scss */
.footer {
  text-align: center;
  background-color: white;
  padding: 0.75em 1em;
}

/* line 14, ../../../src/styles/main.scss */
.image {
  margin: 2.25em auto;
  max-width: 1024px;
}

/* line 19, ../../../src/styles/main.scss */
.image--portrait {
  max-width: 33.75em;
}

/* line 23, ../../../src/styles/main.scss */
#map {
  height: 360px;
  z-index: 1;
  margin: 2.25em;
}

/* line 29, ../../../src/styles/main.scss */
.map-vignette {
  height: 100%;
  width: 100%;
  z-index: 2;
  position: relative;
  -webkit-box-shadow: white 0 0 80px 40px inset;
  -moz-box-shadow: white 0 0 80px 40px inset;
  box-shadow: white 0 0 80px 40px inset;
  pointer-events: none;
}

/* line 38, ../../../src/styles/main.scss */
.leaflet-map-pane {
  z-index: 1;
}

/* line 41, ../../../src/styles/main.scss */
.leaflet-control-container {
  z-index: 3;
}

/* line 45, ../../../src/styles/main.scss */
.leaflet-container {
  background-color: white;
}
